.hometitle {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin-left: 20px;
    line-height: 25px;
    text-align: left;
    font-size: 28px;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 50px;
}