.mapModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

.innerMapContainer {
    width: 50%;
    height: 50%;
    border: 2px solid #000;
    border-radius: 8px;
    overflow: hidden;
}  

.buttonsContainer {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.button1 {
    background-color: red;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: block;
    margin: 0 auto;
}

.button2 {
    background-color: green;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: block;
    margin: 0 auto;
}