.hometitle {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin-left: 20px;
    line-height: 25px;
    text-align: left;
    font-size: 28px;
  }

.add-university-button {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    position: absolute;
    top: 150px;
    right: 10px;
    background-color: darkgray;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


.add-university-button:hover {
    background-color: gray;
}
  
  .add-university-container {
    float: right;
    position: relative;
    width: 400px;
    height: 600px;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  
  .add-university-container input[type="text"],
  .add-university-container textarea {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: #e6e6e6;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .add-university-container input[type="submit"] {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: darkgray;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .add-university-container input[type="submit"]:hover {
    background-color: gray;
  }
  
  .add-university-container h2 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: black;
  }
  
  .add-university-container label {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
  }
  
  .add-university-container .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #4a4a4a;
    cursor: pointer;
  }
  
  .add-university-container textarea {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    height: 100px;
    resize: none;
    overflow-y: scroll;
  }
  